* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #50595c;
  }
  @media (max-width: 768px) {
    .column.column-33, .column.column-50 {
        max-width: 100% !important;
    }
    .column.column-offset-25 {
      margin-left: 0 !important;
  }
  }
  h4 {
    font-weight: 700;
  }
  video {
    width: 100%;
    height: auto;
  }
  ol.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  ul.syarat {
    font-size: 20px;
  }


  /* NAVIGASI */
  .nav {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 99;
    padding: 2rem 1rem;
    position: fixed;
    transition: .3s all;
  }
  .nav.scrolled {
    background-color: #edfbff;
    padding: 5px 0;
    transition: .3s all;
  }
  .nav > .nav-header {
    flex: 0.95;
    padding-left: 4rem;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
  }
  .nav > .nav-header > .nav-title a {
    font-size: 32px;
    color: #2B2E35;
    font-weight: 700;
    letter-spacing: -1px;
    display:flex;
    align-items: center;
  }
  .nav > .nav-header > .nav-title img {
    margin-right: 6px;
  }
  .nav > .nav-list {
    display: flex;
    gap: 3rem;
    margin-bottom: 0;
  }
  .nav > .nav-list > li {
    list-style-type: none;
    margin-bottom: 0;
  }
  .nav > .nav-list > li a {
    text-decoration: none;
    color: #2B2E35;
    cursor: pointer;
    font-size: 20px;
  }
  .nav > .nav-list > li#ppdb a {
    color: #fff;
    background: #FC595B;
    border-radius: 999px;
    padding: 10px 22px;
  }
  .nav > #nav-check {
      display: none;
  }
  .active {
    font-weight: 700;
  }
  @media (max-width: 768px) {
    .nav > .nav-header {
      padding-left: 1rem;
    }
    .nav.scrolled {
      padding: 1rem;
      position: fixed;
    }
    .nav > .nav-header > .nav-title img {
     width: 32px;
     height: auto;
    }
    .nav > .nav-header > .nav-title a {
      font-size: 24px;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 4px;
      padding-top: 0.2rem;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #2B2E35;
    }
    .nav > .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      background-color: #edfbff;
      height: 0;
      transition: all 0.3s ease-in;
      top: 58px;
      left: 0;
      overflow: hidden;
      z-index: 9999;
      padding: 0 20px;
    }
    .nav > .nav-list > li {
      width: 100%;
      margin-top: 0;
      padding: 10px 0;
    }
    .nav > .nav-list > li:nth-child(1) {
        padding-top: 40px;
    }
    .nav > #nav-check:checked ~ .nav-list {
      height: calc(100vh - 50px);
    }
  }

  
/* HERO */
.hero {
    background: url(images/hero-bg.jpg) center center no-repeat #edfbff;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 0;
    text-align: center;
    color: #2B2E35;
}
.hero .sub-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.hero h1 {
    font-size: 68px;
    max-width: 1080px;
    margin: 40px auto;
    font-weight: 500;
}
.hero .button {
    font-size: 24px;
    color: #fff;
    border-radius: 999px;
    padding: 18px 28px;
    height: inherit;
    border: none;
    text-transform: inherit;
    letter-spacing: -1px;

    border-radius: 62px;
    background: #FC595B;
    box-shadow: 6px 6px 46px 0px rgba(252, 89, 91, 0.25);
}
@media (max-width: 768px) {
    .hero {
        padding-top: 140px;
    }
    .hero h1 {
        font-size: 48px;
        max-width: 100%;
    }
    .hero .button {
        font-size: 18px;
        letter-spacing: 0;
    }
}


/* HERO IMAGES */
.hero-images {
    padding-top: 120px;
    padding-bottom: 0;
    color: #2B2E35;
    display: flex; 
    line-height: 0;
}
.hero-images .column {
    align-self: flex-end; 
    padding-bottom: 0 !important;
}
.hero-images img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
@media (max-width: 768px) {
    .hero-images img {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}


/* VISI */
.visi {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #fff9eb;
    text-align: center;
}
.visi h4 {
    font-size: 34px;
    letter-spacing: -1px;
}
.unit .visi {
  padding-top: 240px;
}
@media (max-width: 768px) {
  .unit .visi {
    padding-top: 300px;
  }
  .visi {
      padding-bottom: 60px;
  }
}


/* MISI */
.misi {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.unit .misi {
  padding-bottom: 0;
}
.misi h4 {
    font-size: 34px;
    letter-spacing: -1px;
}
.misi h5 {
    font-size: 24px;
    font-weight: 700;
}
.misi p {
    font-size: 20px;
}
.daftar-misi {
    margin-top: 20px;
}
.misi img.icon {
    padding: 12px 28px;
    background: #d7edff;
    border-radius: 12px;
    margin-bottom: 12px;
}
@media (max-width: 768px) {
  .daftar-misi {
      margin-top: 0;
  }
  .misi {
      padding-top: 60px;
      padding-bottom: 60px;
  }
}


/* PROFIL */
.profil.tk {
  padding-top: 120px;
  padding-bottom: 0;
  background: url(images/gedung-tk-tabitha.jpg) center center no-repeat;
  background-size: cover;
  height: 500px;
}
.profil.smp {
  padding-top: 120px;
  padding-bottom: 0;
  background: url(images/smpk-ybpk-tunjungrejo.jpg) center center no-repeat;
  background-size: cover;
  height: 500px;
}
.profil h4 {
  background: #edfbff;
  padding: 10px 16px;
  border-radius: 12px;
  text-align: center;
}
.profil-content {
  position: relative;
}
.panel-body {
  position: absolute;
  background: #fff;
  padding: 30px;
  box-shadow: 6px 6px 46px 0px rgba(114, 108, 108, 0.089);
  border-radius: 16px;
}


/* GURU */
.guru {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.guru h4 {
    font-size: 34px;
    letter-spacing: -1px;
}
.guru h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}
.guru p {
    font-size: 20px;
}
.daftar-guru {
    margin-top: 20px;
    text-align: center;
}
.foto-guru {
  border-radius: 16px;
}
@media (max-width: 768px) {
  .guru {
      padding-top: 60px;
      padding-bottom: 60px;
  }
}


/* GALERI */
.galeri {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #fff9eb;
    background-size: cover;
}
.unit .galeri {
  text-align: center;
}
.galeri h4 {
    font-size: 34px;
    letter-spacing: -1px;
}
.galeri img, .galeri video {
  margin-bottom: 10px;
}
.pilihan-unit {
    align-self: center;
    font-size: 20px;
    margin-bottom: 18px;
    padding-left: 40px !important;
}
.duapertiga {
    height: 300px;
    margin-bottom: 18px;
}
.sepertiga {
    height: 160px;
    margin-bottom: 18px;
}
.duapertiga {
    background: url(images/ybpk-tunjungrejo.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.sepertiga.satu {
    background: url(images/tk-tabitha-kegiatan.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.sepertiga.dua {
    background: url(images/sepertiga.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.sepertiga.tiga {
    background: url(images/duapertiga.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.pilihan-unit a {
    color: #fff;
    background: #FC595B;
    border-radius: 999px;
    padding: 10px 22px;
    height: inherit;
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -1px;
  }

.gabung h4 {
    font-size: 34px;
    letter-spacing: -1px;
}
.unit .gabung {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(images/purple-bg.png) center center no-repeat;
  background-size: cover;
  text-align: center;
}  
.unit .gabung .button {
  font-size: 24px;
  color: #fff;
  border-radius: 999px;
  padding: 18px 28px;
  height: inherit;
  border: none;
  text-transform: inherit;
  letter-spacing: -1px;
  margin-top: 40px;
  border-radius: 62px;
  background: #FC595B;
  box-shadow: 6px 6px 46px 0px rgba(252, 89, 91, 0.25);
}
@media (max-width: 768px) {
  .pilihan-unit {
      padding-left: 0 !important;
  }
  .pilihan-unit a {
      font-size: 16px;
  }
  .galeri {
      padding-top: 60px;
      padding-bottom: 60px;
  }
}



/* PENGURUS */
.pengurus {
  padding-top: 120px;
  padding-bottom: 120px;
  font-size: 18px;
}
.daftar-pengurus {
  padding: 20px 0 !important;
  border-bottom: 1px solid #cdcdcd!important;
}
.daftar-pengurus:last-child {
  border-bottom: 0 !important;
}
.nama {
  font-weight: 500;
  font-size: 22px;
}
.user-default {
  text-align: center;
}
.user-default-pic {
  border-radius: 50%;
  max-height: 63px;
  width: auto;
  text-align: center;
}



  
/* FOOTER */
.footer {
    padding-top: 120px;
    padding-bottom: 102px;
}  
@media (max-width: 768px) {
  .footer {
      padding-top: 40px;
      padding-bottom: 22px;
  }  
}


/* FORMULIR */
.formulir {
  text-align: left;
}
.formulir textarea {
  min-height: 16.5rem !important;
}
.button-primary {
  display: block;
  color: #fff;
  background: #12c401;
  border-radius: 999px;
  padding: 10px 22px;
  text-align: center;
}